---
- name: Исправить конфиг Prometheus - оставить только рабочие таргеты
  hosts: prometheus
  become: yes
  
  tasks:
    - name: Создать правильный конфиг
      copy:
        content: |
          global:
            scrape_interval: 15s
            
          scrape_configs:
            - job_name: 'prometheus'
              static_configs:
                - targets: ['localhost:9090']
                
            - job_name: 'node'
              static_configs:
                - targets:
                  - '10.0.1.13:9100'
                  - '10.0.2.30:9100'
                  - '10.0.1.19:9100'
                  - '10.0.3.34:9100'
                  - '10.0.1.33:9100'
                  - '10.0.3.19:9100'
                  
            - job_name: 'nginx-logs'
              static_configs:
                - targets:
                  - '10.0.1.13:4040'
                  - '10.0.2.30:4040'
        dest: /etc/prometheus/prometheus.yml
        
    - name: Перезапустить Prometheus
      systemd:
        name: prometheus
        state: restarted
        
    - name: Проверить что Prometheus запустился
      shell: sleep 3 && systemctl is-active prometheus
      register: prom_status
      
    - name: Показать статус
      debug:
        msg: "Prometheus: {{ prom_status.stdout }}"